<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="card">

        <div class="card-header card-header-rose card-header-text">
          <div class="card-text">

            <h4 class="card-title">Categoria de Producto</h4>
          </div>
        </div>


        <div class="card-body">

          <form [formGroup]="productCategoryForm" (ngSubmit)="onSubmit()">

            <div class="controlers-wrapper">
              <!-- Nombre -->
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" formControlName="name">
                <mat-error *ngIf="handleError('name', 'required')">
                  Este campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>

              <!-- Description -->
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Descripción" formControlName="description">
                <mat-error *ngIf="handleError('description', 'required')">
                  Este campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>

            </div>

            <div class="full-wrapper button-wrapper">
              <div class="button-wrapper">
                <button mat-flat-button color="warn">Guardar</button>
                <button *ngIf="isModalWindow" mat-flat-button (click)="onCloseModalWindow()">
                  Cerrar
                </button>
              </div>
            </div>

          </form>


        </div>
      </div>

    </div>
  </div>
</div>