<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <h4 class="card-title">
              <small class="category"> Completa tu Perfil</small>
            </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Nombre</label>
                    <input type="text" class="form-control" formControlName="firstName">
                    <app-field-error [displayError]="handleError('firstName', 'required')"
                      errorMsg="Este campo es requerido">
                    </app-field-error>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Apellido</label>
                    <input type="text" class="form-control" formControlName="lastName">
                    <app-field-error [displayError]="handleError('lastName', 'required')"
                      errorMsg="Este campo es requerido">
                    </app-field-error>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Correo Electrónico (deshabilitado)</label>
                    <input type="email" class="form-control" formControlName="email" disabled>
                    <app-field-error [displayError]="handleError('email', 'required')"
                      errorMsg="Este campo es requerido">
                    </app-field-error>
                    <app-field-error [displayError]="handleError('email', 'email')" errorMsg="Email invalido">
                    </app-field-error>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Teléfono</label>
                    <input type="text" class="form-control" formControlName="phone">
                    <app-field-error [displayError]="handleError('phone', 'required')"
                      errorMsg="Este campo es requerido">
                    </app-field-error>
                    <app-field-error [displayError]="handleError('phone', 'maxlength')"
                      errorMsg="El tamaño debe ser menor a 10 caracteres">
                    </app-field-error>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Dirección</label>
                    <input type="text" class="form-control" formControlName="address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">País</label>
                    <select class="form-control" formControlName="country" (change)="getStates(country)">
                      <option *ngFor="let country of countries$ | async" [value]="country._id">{{country.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Provincia</label>
                    <select class="selectpicker" type="text" class="form-control" formControlName="state"
                      (change)="getCities(country,state)">
                      <option *ngFor="let state of states" [value]="state._id">{{state.name}}
                      </option>
                    </select>
                    <app-field-error [displayError]="handleError('city', 'required')"
                      errorMsg="Este campo es requerido">
                    </app-field-error>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Ciudad</label>
                    <select type="text" class="form-control" formControlName="city">
                      <option *ngFor="let city of cities" [value]="city._id">{{city.name}}
                      </option>
                    </select>
                    <app-field-error [displayError]="handleError('postal', 'required')"
                      errorMsg="Este campo es requerido">
                    </app-field-error>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Sobre mi</label>
                    <div class="form-group">
                      <textarea class="form-control" formControlName="about" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Actualizar mi
                Perfil</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!--div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{user.firstName}}</h4>
            <h6 class="card-category text-gray">{{user.lastName}}</h6>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>