<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" placeholder="Fecha Inicial"
            (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" placeholder="Fecha Final"
            (click)="picker2.open()">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="year"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input disabled matInput value="{{customer?.taxId}}" type="text" placeholder="Cliente">
          <button mat-icon-button matSuffix (click)="removeCustomer()">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="searchCustomer()">
            <mat-icon>reorder</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input disabled matInput value="{{branch?.name}}" type="text" placeholder="Punto Emisión">
          <button mat-icon-button matSuffix (click)="removeBranch()" *ngIf="user?.role=='SUPERADMIN'">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="searchBranch()" *ngIf="user?.role=='SUPERADMIN'">
            <mat-icon>reorder</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button mat-flat-button color="warn" (click)=loadInvoicePage()>
          Buscar
        </button>
      </div>
    </div>
    <div class="row">

      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>




      <mat-table class="invoice-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="createdAt"
        matSortDirection="desc" matSortDisableClear>


        <ng-container matColumnDef="secuence">

          <mat-header-cell *matHeaderCellDef>Número Factura</mat-header-cell>

          <mat-cell *matCellDef="let element">{{element.secuence}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="createdAt">

          <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>

          <mat-cell *matCellDef="let element">{{element.createdAt | date}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="totalWithoutTax">

          <mat-header-cell *matHeaderCellDef>Subtotal</mat-header-cell>

          <mat-cell *matCellDef="let element">{{element.totalWithoutTax | currency}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="total">

          <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>

          <mat-cell *matCellDef="let element">{{element.total | currency}}</mat-cell>

        </ng-container>


        <!-- actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <a matTooltip="Exportar Excel" mat-icon-button color="primary"
              (click)="exporter.exportTable('xlsx', {fileName:'table'})">
              <i class="fa fa-file-excel-o" style="color:green;" aria-hidden="true"></i>
            </a>
          </th>
          <td mat-cell *matCellDef="let element; let i = index;" class="group-actions text-right">
            <button mat-raised-button class="btn btn-link" (click)=onPrintClick(element._id)>
              <mat-icon>local_printshop</mat-icon>
            </button>
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>
      <mat-paginator class="invoice-paginator mat-elevation-z8" [length]="dataSource.totalRows$ | async"
        [pageSizeOptions]="[10, 20, 30, 40, 50, 100]" showFirstLastButtons>
      </mat-paginator>

    </div>
  </div>
</div>