.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
    margin-left: 25%;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

.invoice-table {
    min-height: 150px;
    margin-top: 10px;
    width: 100%;
}

.invoice-table .group-actions .btn {
    margin: 0px;
    padding: 5px;
}

.invoice-paginator {   
    width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-style:unset;
}

.cdk-overlay-connected-position-bounding-box,
.cdk-global-overlay-wrapper,
.cdk-overlay-container{
    z-index: 99999 !important;
}